body {
    margin: 0;
    font-family: 'Roboto';
    font-size: large;
}

.wrapper {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

.sidebar {
    display: grid;
    grid-template-rows: repeat(3, max-content);
    grid-template-columns: 1fr;
    align-items: center;
    row-gap: 3rem;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-color: #0ea5e9;
    color: white;
    padding-left: 3rem;
    padding-top: 2rem;
}

.logo {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    align-items: center;
    column-gap: 0.8rem;
}

.mid-btns {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    align-items: end;
    gap: 1.3rem 1rem;
}

.btm-btns {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    align-items: end;
    gap: 1.3rem 1rem;
}

.header {
    grid-column: 2 / 3;
    display: grid;
    row-gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 1.1rem 4rem 1.1rem 4rem;
}

input {
    height: 30px;
    flex: 1;
    background-color: #e2e8f0;
    border-radius: 25px;
    border: none;
}

.top-left {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.top-right {
    justify-self: end;
    display: flex;
    gap: 1.9rem;
    font-size: 20px;
    font-weight: 900;
    align-items: center;
}

.bottom-left {
    display: grid;
    grid-template-columns: max-content 1fr;
    column-gap: 10px;
}

.hi {
    font-size: small;
}

.inner-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 5px;
    font-weight: bolder;
}

ul > li {
    list-style-type: none;
}

.bottom-right {
    display: flex;
    align-items: center;
}

.bottom-right > ul {
    display: flex;
    justify-content: end;
    flex: 1;
    gap: 30px;
    margin: 0;
}

button {
    background-color: #0ea5e9;
    color: white;
    border-radius: 25px;
    border-style: none;
    padding: 8px 26px;
}

main {
    display: flex;
    background-color: #cbd5e1;
    padding-top: 1.5rem;
    padding-bottom: 3rem;
    gap: 2rem;
}

.main-left{
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    padding-left: 1.5rem;
    row-gap: 10px;
    display: flex;
    flex-direction: column;
}

.main-right {
    display: grid;
    width: 35%;
    grid-template-rows: repeat(2, max-content);
    margin-right: 2rem;
    gap: 2rem;
}

.announce-table {
    margin-top: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 2.5rem;
    gap: 15px;
    border-radius: 8px;
}

.ann-title {
    font-size: 17px;
    font-weight: 900;
}

.ann-body {
    font-size: 14px;
    color: #64748b;
    margin-top: 3px;
}

.ann-post:nth-child(1),
.ann-post:nth-child(2) {
    border-bottom: 1px #64748b solid;
    padding-bottom: 15px;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin-top: 10px;
}

.project {
    background-color: white;
    border-radius: 8px;
    padding: 1rem 4rem 4rem 2rem;
}

.trend {
    display: flex;
    gap: 15px;
    align-items: center;
}

.trend-table {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: white;
    padding: 2.5rem;
    border-radius: 8px;
}

.user {
    font-size: 15px;
}

.full-name {
    font-size: 16px;
    color: #64748b;
}